<html>
    <head>
        <title>
            <%= title%>
        </title>
    </head>
    <body>
        <form action="/add" method="POST">
            酒吧名稱<input type="text" name="barName"><br>
            地址<input type="text" name="address"><br>
            電話<input type="text" name="phone"><br>
            緯度<input type="text" name="lat"><br>
            <small>Format: </small><br><br>
            經度<input type="text" name="lng"><br>
            <small>Format: </small><br><br>
            <input type="submit">
        </form>
    </body>

</html>