<html>
    <head>
        <%- include('../common/header')%>
    </head>
    <body>      
        <h1><a href="/">Bar Map</a></h1>      
        <form action="/bar/submit-multiple" method="POST" enctype="multipart/form-data">
            <h2>酒吧資料上傳 - 多筆</h2>
            <a href="/bar/add-singular" class="badge badge-primary">單筆</a>
            <a href="/bar/add-multiple" class="badge badge-secondary">多筆</a><br>

            <label>Upload CSV File: </label>
            <input type="file" name="barCSV"><br>
            <a href="/bar/bar-csv-sample-file">Download Sample</a><br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <% if (typeof(barInfo) !== "undefined" && barInfo) { %> 
            <h3>上傳資訊</h3>
            <% if (typeof(error) !== "undefined" && error) { %>
                <p><%= error%></p>
            <%} else {%>
                <p><%= success%></p>
            <% } %>

            <% if (typeof(data.existed) !== "undefined" && data.existed) { %>
                <% for (let i = 0; i < data.existed.length; i++) { %>
                    <p>此酒吧已存在資料庫: </p>
                    <%= data.existed[i]%>
                <% } %>
            <% } %>
        <% } %>
        <a href="/bar/show">
            <button type="button" class="btn btn-success">Show Data</button>
        </a>
        <a href="/account/logout">
            <button type="button" class="btn btn-danger">Logout</button>
        </a>
    </body>
</html>