<html>
    <head>
        <%- include('../common/header')%>
    </head>
    <body>
        <form action="/bar/submit-singular" method="POST" id="submit-singular">
            <h2>酒吧資料上傳 - 單筆</h2>
            <a href="/bar/add-singular" class="badge badge-primary">單筆</a>
            <a href="/bar/add-multiple" class="badge badge-secondary">多筆</a>
            <% if (typeof(error) !== "undefined" && error) { %> 
                <div class="alert alert-danger col-md-2" role="alert">
                    <%= name%> <%= error%>
                </div>
            <% } %>
            <ul>
                <li>
                    <div class="form-group">
                        <label for="inputBarName">酒吧名稱:</label>
                        <input type="text" name="name" required />
                    </div>        
                </li>
                <li>
                    <div class="form-group">
                        <label>酒吧地址:</label>
                        <input type="text" name="address"><br>
                    </div>        
                </li>
                <li>
                    <div class="form-group">
                        <label>電話:</label>
                        <input type="text" name="phone"><br>
                    </div>        
                </li>
                <!-- Must be done columns -->
                <li>
                    <div class="form-group">
                        <label>緯度:</label>
                        <input type="text" name="lat" required /><br>
                        <small>Format: 25.033493</small><br>
                    </div>   
                </li>  
                <li>
                    <div class="form-group">
                        <label>經度</label>
                        <input type="text" name="lng"  required /><br>
                        <small>Format: 121.564101</small><br>    
                    </div>     
                </li>
            </ul>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <a href="/account/logout">
            <button type="button" class="btn btn-danger">Logout</button>
        </a>
    </body>
</html>