<html>
    <head>
        <title>Bar Map</title>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <script defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYZzAq3kq3DRK9wcD527frhcWVEJnun2o&callback=initMap&libraries=&v=weekly"
        ></script>
        <script src="https://unpkg.com/@googlemaps/markerclustererplus/dist/index.min.js"></script>
        <link rel="stylesheet"  href="/css/map.css" />
        <script src="/js/map.js"></script>
        <%- include('../common/header')%>
    </head>
    <body>
        <h1>Bar Map</h1>
        <!--The div element for the map -->
        <div id="map"></div>
    </body>
</html>

