<html>
    <head>
        <%- include('common/header')%>
    </head>
    <body>
        <h1><%= title%></h1>
        <p><%= description%></p>
        <a href="/bar/map">
            <button type="button" class="btn btn-primary">Start Explore</button>
        </a>
        <a href="/account/login">
            <button type="button" class="btn btn-info">Login</button>
        </a>
    </body>
</html>