<html>
    <head>
        <title><%= title%></title>
    </head>
    <body>
        <form role="form" method="POST">
            <h2>註冊</h2>
           帳號: <input type="text" name="userName" placeholder="帳號"><br>
           密碼: <input type="password" name="userPwd" placeholder="密碼"><br>
           <input type="submit" text="註冊">
           <a href="signup">註冊</a>
        </form>
    </body>
</html>