<html>
    <head>
        <title><%= title%></title>
    </head>
    <body>
        <form role="form" method="POST">
            <h2>註冊</h2>
           帳號: <input type="text" name="userName" placeholder="帳號"><br>
           密碼: <input type="password" name="userPwd" placeholder="密碼"><br>
           再輸入密碼: <input type="password" name="userRePwd" placeholder="再輸入密碼"><br>
           信箱: <input type="text" name="email" placeholder="信箱"><br>
           姓: <input type="text" name="firstName" placeholder="姓"><br>
           名: <input type="text" name="lastName" placeholder="名"><br>
           <input type="submit" text="註冊">
           <a href="login">登入</a>
        </form>
    </body>
</html>